## Showing connectivity works!

In [40]:
from sqlalchemy import create_engine
import pymysql

engine = create_engine("mysql+pymysql://root:password@mariadb/test_db", echo = True)

In [41]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class User(Base):
    __tablename__ = 'users'

    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    fullname = Column(String(50))
    password = Column(String(50))

    def __repr__(self):
        return "<User(name='%s', fullname='%s', password='%s')>" % (
                             self.name, self.fullname, self.password)
    
Base.metadata.create_all(engine)

2018-03-26 18:38:56,065 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-03-26 18:38:56,066 INFO sqlalchemy.engine.base.Engine {}
2018-03-26 18:38:56,071 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-03-26 18:38:56,072 INFO sqlalchemy.engine.base.Engine {}
2018-03-26 18:38:56,074 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'
2018-03-26 18:38:56,075 INFO sqlalchemy.engine.base.Engine {}
2018-03-26 18:38:56,078 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-03-26 18:38:56,079 INFO sqlalchemy.engine.base.Engine {}
2018-03-26 18:38:56,081 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-03-26 18:38:56,082 INFO sqlalchemy.engine.base.Engine {}
2018-03-26 18:38:56,086 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1
2018-03-26 18:38:56,087 INFO sqlalchemy.engine.base.Engine {}
2018-03-26 18:38:56,090 INFO sqlalchemy.engine.base.Engine DESCRIBE `users`
2018-03-26 18:38:56,091 INFO sqlalchemy.engine.base.Engine {}

In [14]:
Base.metadata.tables

immutabledict({'users': Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=50), table=<users>), Column('fullname', String(length=50), table=<users>), Column('password', String(length=50), table=<users>), schema=None)})

In [43]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

session = Session()
user1 = User(name='ed', fullname='Ed Jones', password='password1')
user2 = User(name='edd', fullname='Edd Jones', password='password1')
user3 = User(name='eddy', fullname='Eddy Jones', password='password3')
session.add_all([user1, user2, user3])

In [44]:
session.query(User).all()

2018-03-26 18:39:18,312 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-03-26 18:39:18,313 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s)
2018-03-26 18:39:18,315 INFO sqlalchemy.engine.base.Engine {'name': 'ed', 'fullname': 'Ed Jones', 'password': 'password1'}
2018-03-26 18:39:18,318 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s)
2018-03-26 18:39:18,319 INFO sqlalchemy.engine.base.Engine {'name': 'edd', 'fullname': 'Edd Jones', 'password': 'password1'}
2018-03-26 18:39:18,322 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (%(name)s, %(fullname)s, %(password)s)
2018-03-26 18:39:18,323 INFO sqlalchemy.engine.base.Engine {'name': 'eddy', 'fullname': 'Eddy Jones', 'password': 'password3'}
2018-03-26 18:39:18,325 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2018-03-26 18:39:18,327 INFO sqlalchemy.engine.base.Engine {}

[<User(name='ed', fullname='Ed Jones', password='password1')>,
 <User(name='edd', fullname='Edd Jones', password='password1')>,
 <User(name='eddy', fullname='Eddy Jones', password='password3')>]